<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        <h1>{{ i18n "banner.title" }}</h1>
        <p class="major">{{ i18n "banner.subtitle" }}</p>
        <p>{{ (i18n "banner.content") | markdownify }}</p>
        <ul class="actions stacked">
            <li>
                <a href="{{ i18n "bookNowLink" }}" class="book-now-button" target="_blank">{{ i18n "bookNow" }}</a>
            </li>
        </ul>
    </div>
    <div class="image">
        <img src="{{ .image }}" alt="Front view of Casa Dodo Guatapé" />
    </div>
</section>
