<!-- Items -->
<section class="wrapper style1 align-center" id="features">
    <div class="inner">
        <h2>{{ i18n "items_title" }}</h2>
        <div class="items style1 medium onscroll-fade-in">
            {{ $icons := .Site.Params.icons }} <!-- Store the icons variable from config -->
            {{ $itemCount := 3 }} <!-- Number of items -->
            {{ range $i := seq 1 $itemCount }}
                <section>
                    <span class="icon style2 major {{ index $icons (printf "icon%d" $i) }}"></span>
                    <h3>{{ i18n (printf "item_%d_title" $i) }}</h3>
                    <p>{{ i18n (printf "item_%d_description" $i) }}</p>
                </section>
            {{ end }}    
        </div>
        <ul class="action">
            <a href="{{ i18n "bookNowLink" }}" class="book-now-button" target="_blank">{{ i18n "bookNow" }}</a>
        </ul>
    </div>
</section>
