<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="innerfooter">
        <ul class="icons">
            <!-- {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}} -->
            <!-- {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}} -->
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.facebook }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-facebook"><span class="label">Facebook</span></a></li>{{end}}
            <!-- {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}} -->
            <!-- {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}} -->
        </ul>
        <p>
            &copy; Casa Dodo {{ now.Format "2006" }}. All rights reserved.     
            &nbsp;&nbsp;&nbsp; <i class="fa fa-code" style="color: #606060"></i>
            made with <i class="fa fa-heart" style="color:#DC143C;"></i> by ramiro
        </p>
    </div>
</footer>
<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

<!-- WhatsApp Button -->
<a href="https://wa.me/573137317997" class="whatsapp-button" target="_blank">
    <img src="{{ "/images/whatsapp-icon100.png" | absURL }}" alt="WhatsApp" />
</a>