<section class="ratings-section">
    <div class="ratings-images">
        <img src="/images/ratings/airbnb.png" alt="Airbnb Rating">
        <a href="https://www.booking.com/hotel/co/casa-dodo-guatape-guatape.html?aid=318615&label=New_English_EN_MU_26767354105-_Gaq7mTz_PDvcNMyADPShwS217244031990%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atidsa-64415224945%3Alp9073704%3Ali%3Adec%3Adm&sid=cb87797686010cd36fd6d75cc33b3958&dest_id=-585862;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1730873890;srpvid=fc0e2c4c87c70027;type=total;ucfs=1" target="_blank" rel="noopener noreferrer">
            <img src="/images/ratings/booking2.png" alt="Booking.com Rating">
        </a>
        <a href="https://www.kayak.com.co/Guatape-Hoteles-Casa-Dodo-Guatape.7138553.ksp" target="_blank" rel="noopener noreferrer">
            <img src="/images/ratings/kayak.png" alt="Kayak Rating">
        </a>
    </div>
</section>

