{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $demo := resources.Get "js/demo.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $demo | resources.Concat "js/bundle.js" | minify }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>

<!-- LobbyPMS Calendar Widget -->
<script src="https://app.lobbypms.com/public/js/widget/lobby-date-rage-selector.min.js?v=iVrRuQGr2poFAHis3qrSZxYAH"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ldrs = new LobbyDateRangeSelector({
            apiBaseUrl: 'https://api.lobbypms.com/api/ldrs/',
            token: 'kLFjeyHA1iHIdP2Vr5dcAloHuSzF5PEkNZGPUoEH1zGiBD6TDxKTJGnDcIbm',
            lang: 'es',
            container: document.getElementById('lobby-calendar-widget')
        });
        console.log('LobbyPMS Calendar Widget initialized');
    });
</script>

