<!-- Items -->
{{ $params := .params }}
{{ $index := .index }}
<!-- Items -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>{{ i18n (printf "testimonials_title") }}</h2>
        <div class="items style1 medium onscroll-fade-in">
            {{ $itemCount := $params.count | default 3 }} <!-- Default to 3 items if not specified -->
            {{ range $i := seq 1 $itemCount }}
                <section>
                    <span class="icon style2 major fa-quote-left"></span>
                    <p>{{ i18n (printf "testimonials%d_quote_%d" $index $i) }}</p>
                    <h3>{{ i18n (printf "testimonials%d_name_%d" $index $i) }}</h3>
                </section>
            {{ end }}
        </div>
        <ul class="action">
            <a href="{{ i18n "bookNowLink" }}" class="book-now-button" target="_blank">{{ i18n "bookNow" }}</a>
        </ul>
    </div>
</section>
